<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_save_before">
        <observer name="tarknaiev_release_date_disable_add_to_cart_functionality"
                  instance="Tarknaiev\ReleaseDate\Observer\DisableAddToCart" />
    </event>
</config>
