<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="release_date" translate="label" type="text" sortOrder="600   " showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Release Date Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message_type" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message type</label>
                    <source_model>Tarknaiev\ReleaseDate\Model\Config\Source\MessageType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
